{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Jai SwamiNarayan {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/home/base.css' %}">
    {% block css %}{% endblock css %}

</head>

<body>

    <header>
        <nav>
            <p>
                NSM
            </p>
            <ul class="n_link">
                <li><a href="{% url "home-page" %}">Home</a></li>
                <li><a href="{% url "materials-page" %}">Materials</a></li>
                <li><a href="{% url "contact-page" %}">Contact Us</a></li>
                <li><a href="{% url "about-page" %}">About Us</a></li>
            </ul>
        </nav>
    </header>


    {% block main_content %}
        <main>

        </main>
    {% endblock main_content%}

    <footer>
        <div>&copy; 2024 My Website. All rights reserved.</div>
        <div>Develop and Maintain by <b>Nitesh Prajapati</b>.  Contact Developer here 
            <a href="https://twitter.com/yourhandle" target="_blank">Twitter</a>,
            <a href="https://linkedin.com/in/yourhandle" target="_blank">LinkedIn</a>,
            <a href="https://github.com/yourhandle" target="_blank">GitHub</a>
        </div>
    </footer>

</body>

</html>