*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,body{
    background-color: #87cefa;
}

nav,footer {
    height: 65px;
    width: 95vw;
    margin: 30px auto;
    color: #fff;
    background-color: #1E90FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;    
}

.n_link{
    display: flex;
    list-style-type: none;
}

.n_link li{
    margin: 0 30px;
}

.n_link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav p{
    font-size: 2rem;
    font-weight: 700;
}

footer{
   height: 70px;
   flex-direction: column;
   justify-content: space-evenly;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer div a:hover, .n_link a:hover {
    text-decoration: underline;
    color: #b7b7b7;

}

main{
    min-height: 100vh;
    width: 97vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #80c9f3;
    border: 1px solid #fff;
    border-radius: 1rem;
    /* box-shadow: 3px 3px 6px 6px green; */
    box-shadow: 0 0 10px 5px #33b1ff;
}

