{% extends "home/base.html" %}
{% load static %}   

{% block title %} Login {% endblock title %}
{% block css %} <link rel='stylesheet' href='{% static "css/leaders/login.css" %}'> {% endblock css %}


{% block main_content %}

<main>

    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action='/leaders/login/'>
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        {% if messages %}
            <div class="message-box">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

</main>

{% endblock main_content %}

{% block js %}
<script>
    window.onload = function() {
        alert('Please login!\nLoging in gives you power to alter the database');
    };
</script>
{% endblock js %}

