{% extends "home/base.html" %}
{% load static %}

{% block title %} Bhulkus Data {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bhulkus/bhulkus_db.css' %}">{% endblock css %}

{% block main_content %}
<main>
    <h1>All Bhulkus</h1>
    <table>

        <tr class="head-row">
            <th>Name</th>
            <th>Age</th>
            <th>Class</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Regular</th>
            <th>Detail View</th>
        </tr>
    {% if not status %}

        {% for bhlk in bhulku%}
        <tr>
            <td>{{ bhlk.first_name}} {{bhlk.last_name }}</td>
            <td>{{ bhlk.age }}</td>
            <td>{{ bhlk.standard }}</td>
            <td>{{ bhlk.phone_number }}</td>
            <td>{{ bhlk.address }}</td>
            {% if bhlk.regular %}
            <td style="background-color:lightgreen"> Yes </td>
            {% else %}
            <td style="background-color:#ff5050"> No </td>            
            {% endif %}
            <td><a href="{% url "detailed-view" bhlk.id %}">view</a></td>            
        </tr>
        {% endfor %}

    {% endif %}


    {% if status %}

        {% for bhlk in bhulku%}
            {% if bhlk.regular %}
                <tr>
                    <td>{{ bhlk.first_name}} {{bhlk.last_name }}</td>
                    <td>{{ bhlk.age }}</td>
                    <td>{{ bhlk.standard }}</td>
                    <td>{{ bhlk.phone_number }}</td>
                    <td>{{ bhlk.address }}</td>
                    <td style="background-color:lightgreen">{{ bhlk.regular }}</td>
                    <td><a href="{% url "detailed-view" bhlk.id %}">view</a></td>            
                </tr>
            {% endif %}
        {% endfor %}

        {% for bhlk in bhulku%}
            {% if not bhlk.regular %}
                <tr>
                    <td>{{ bhlk.first_name}} {{bhlk.last_name }}</td>
                    <td>{{ bhlk.age }}</td>
                    <td>{{ bhlk.standard }}</td>
                    <td>{{ bhlk.phone_number }}</td>
                    <td>{{ bhlk.address }}</td>
                    <td style="background-color:#ff5050">{{ bhlk.regular }}</td>
                    <td><a href="{% url "detailed-view" bhlk.id %}">view</a></td>            
                </tr>
            {% endif %}
        {% endfor %}

    {% endif %}




    </table>
    <div class="main-footer">
        <p>Edit and Filters:</p>
        <div>
            <a href="#"><button>Edit</button></a>
            <a href="#"><button>Age</button></a>
            <a href="#"><button>Class</button></a>
            <a id='url' onclick="url_change()" href="{% url "bhulkus-db" arg='status' %}"><button>Regular</button></a>
            <a href="{% url "bhulkus-db" %}"><button>Reset</button></a>
        </div>
    </div>
</main>


{% endblock main_content %}

{% block js %}<script src="{% static 'js/bhulkus/bhulkus_db.js'%}"></script>{% endblock js %}

